{{define "crud_part"}}

<style type="text/css">
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 10;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mdl-layout__header, .sidenav {
    z-index: 1;
}
</style>

<script type="text/javascript">
    function create(){
        $("#close-button").click();
        $.ajax({
            url:"/part/create",
            method: "POST",
            enctype: 'multipart/form-data',
            processData: false,  // Important!
            contentType: false,
            data: $("#form-create").serialize(),
            success:function(response){
                openAlert("Success", response, "alert-success");
            },
            error:function(response){
                openAlert("Error", response.responseText, "alert-danger");
            }
        });
        return false;
    }

    function previewPart(rows){
        var modal = document.getElementById('imgModal');

        var btn = document.getElementById(rows);

        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
            document.getElementById("imgModal--img").src = "/assets/img/part-img/"+rows+".gif"
            
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    function openImg(src){
        document.getElementById("openImgModal").click();
    }

    function openAlert(head_alert,text_alert,alert_type){
        $('#text-alert').html(text_alert);
        $('#head-alert').html(head_alert);
        $("#alert-notification").removeClass();
        $("#alert-notification").addClass("alert");
        $("#alert-notification").addClass(alert_type);
        $('.alert').show();
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
                if(head_alert=="Success"){
                    window.location = "/part/list";
                }
            });
        }, 3000);
       return false
    }

    function editPart(rows){
    	$("#edit-part-button").click();
    	//Row Data
    	id = document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(0).innerHTML;
    	name = document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(1).innerHTML;
        types = document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(2).innerHTML;
    	price = document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(3).innerHTML;
    	html = document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(4).innerHTML;
    	css = document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(5).innerHTML;
    	js = document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(6).innerHTML;

        html = html.replace('<textarea rows="4" cols="30" style="resize: none;font-size: 10px;" readonly="" oncontextmenu="this.focus();this.select()">',"");
        css = css.replace('<textarea rows="4" cols="30" style="resize: none;font-size: 10px;" readonly="" oncontextmenu="this.focus();this.select()">',"");
        js = js.replace('<textarea rows="4" cols="30" style="resize: none;font-size: 10px;" readonly="" oncontextmenu="this.focus();this.select()">',"");
        html = html.replace('/<textarea>',"");
        css = css.replace('/<textarea>',"");
        js = js.replace('/<textarea>',"");

    	//Inject Data to From
    	$("#id-edit").val(id);
    	$("#name-edit").val(name);
    	$("#price-edit").val(price);
    	$("#types-edit").val(types);
    	$("#html-edit").val(html);
    	$("#css-edit").val(css);
        $("#js-edit").val(js);

    	var dd = document.getElementById('types-edit');
		for (var i = 0; i < dd.options.length; i++) {
		    if (dd.options[i].text === types) {
		        dd.selectedIndex = i;
		        break;
		    }
		}
	}

    function editAPI(){
        $("#close-button2").click();
        $.ajax({
            url:"/part/edit",
            method: "POST",
            data:$("#form-edit").serialize(),
            success:function(response){
                openAlert("Success", response, "alert-success");
            },
            error:function(response){
                openAlert("Error", response, "alert-danger");
            }
        });
        return false;
    }

	function deletePart(rows){
		id_user =document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(0).innerHTML;
		name_part =document.getElementById("myTable").rows[rows.parentElement.parentElement.rowIndex].cells.item(1).innerHTML;
		showDialog({
		    id: 'dialog-id',
		    title: 'Delete User',
		    text: "Do you want to delete part \"<b>"+name_part+"</b>\"?",
		    negative: {
		        id: 'cancel-button',
		        title: 'Cancel',
		        onClick: function() { 
		         }
		    },
		    positive: {
		        title: 'Delete',
		        onClick: function() {
		        		$.ajax({
				            url:"/part/delete",
				            method: "POST",
				            data:{
					          id: id_user,
                              name: name_part
					        },
				            success:function(response){
				                openAlert("Success", response, "alert-success");
				            },
				            error:function(response){
				                openAlert("Error", response, "alert-danger");
				            }
			        	});
		        }
		    },
		    cancelable: true,
		    contentStyle: {'max-width': '500px'},
		    onLoaded: function() { 
		    	
		    },
		    onHidden: function() {
		    	
		    }
	    });
		return false
    }

</script>

<button id="openImgModal" hidden></button>

<div id="imgModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <img id="imgModal--img" style="width: 100%;">
  </div>

</div>

<div class="modal fade" id="" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="mdl-grid account_action">
    <div class="mdl-cell mdl-cell--2-col action action_person">
        <div class="inner">
            <i class="material-icons">person_add</i>
            <span class="title">Create Part</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col action action_edit_user" style="display: none;" id="edit-part-button">
        <div class="inner">
            <i class="material-icons">group_add</i>
            <span class="title"></span>
        </div>
    </div>
</div>

<dialog id="action_person_dialog" class="mdl-dialog">
<form onsubmit="return create()" id="form-create"  enctype="multipart/form-data">
    <h6 class="mdl-dialog__title">Create New Part</h6>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" name="name" required>
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>
        <div class = "mdl-grid">
            <div class = "mdl-cell mdl-cell--6-col graybox">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="price" id="price" name="price" required >
                    <label class="mdl-textfield__label" for="price">Price</label>
                </div>
            </div>
            <div class = "mdl-cell mdl-cell--6-col graybox">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <select class="mdl-selectfield__select" id="types" name="types" required>
                        {{ range $idx,$i := .parttypelist }}
                        <option value="{{index $.parttypelist $idx 0}}">{{index $.parttypelist $idx 1}}</option>
                        {{end}}
                    </select>
                    <label class="mdl-selectfield__label" for="role">Part</label>
                </div>
            </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3"  id="html" name="html" required></textarea>
            <label class="mdl-textfield__label" for="text-area">HTML</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="css" name="css" required></textarea>
            <label class="mdl-textfield__label" for="text-area">CSS</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="js" name="js"></textarea>
            <label class="mdl-textfield__label" for="text-area">JavaScript</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="file" name="file" id="file" name="file">
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="close-button">Close</button>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">CREATE</button>
    </div>
</form>
</dialog>


<dialog id="action_edit_user_dialog" class="mdl-dialog">
<form onsubmit="return editAPI()" method="POST" id="form-edit">
    <h6 class="mdl-dialog__title">Edit Part</h6>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="id-edit" name="id-edit" required>
            <label class="mdl-textfield__label" for="id-edit">ID</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name-edit" name="name-edit" required>
            <label class="mdl-textfield__label" for="name-edit">Name</label>
        </div>
        <div class = "mdl-grid">
            <div class = "mdl-cell mdl-cell--6-col graybox">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="price" id="price-edit" name="price-edit" required >
                    <label class="mdl-textfield__label" for="price-edit">Price</label>
                </div>
            </div>
            <div class = "mdl-cell mdl-cell--6-col graybox">
                <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <select class="mdl-selectfield__select" id="types-edit" name="types-edit" required>
                        {{ range $idx,$i := .parttypelist }}
                        <option value="{{index $.parttypelist $idx 0}}">{{index $.parttypelist $idx 1}}</option>
                        {{end}}
                    </select>
                    <label class="mdl-selectfield__label" for="types-edit">Part</label>
                </div>
            </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="html-edit" name="html-edit" required></textarea>
            <label class="mdl-textfield__label" for="text-area">HTML</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="css-edit" name="css-edit" required></textarea>
            <label class="mdl-textfield__label" for="text-area">CSS</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="3" id="js-edit" name="js-edit"></textarea>
            <label class="mdl-textfield__label" for="text-area">JavaScript</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="close-button2">Close</button>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">EDIT</button>
    </div>
</form>
</dialog>

{{end}}