<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Material Design Light</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.1/material.min.css'>
<link rel='stylesheet prefetch' href='https://code.getmdl.io/1.2.1/material.blue-light_blue.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <!-- Modals  -->
<dialog id="action_person_dialog" class="mdl-dialog">
  <form>
    <h6 class="mdl-dialog__title">Add New User</h6>
    <div class="mdl-dialog__content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="firstname">
        <label class="mdl-textfield__label" for="firstname">First Name</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="lastname">
        <label class="mdl-textfield__label" for="lastname">Last Name</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="email">
        <label class="mdl-textfield__label" for="email">Email</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="role">
        <label class="mdl-textfield__label" for="role">Role</label>
      </div>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Send installation instruction</span>
      </label>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Send email to set password</span>
      </label>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button">Close</button>
<!--       <button type="button" class="mdl-button" disabled>Disabled action</button> -->
    </div>
  </form>
</dialog>
<dialog id="action_group_dialog" class="mdl-dialog">
  <form>
    <h6 class="mdl-dialog__title">Add New Group</h6>
    <div class="mdl-dialog__content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="firstname">
        <label class="mdl-textfield__label" for="firstname">First Name</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
         <textarea class="mdl-textfield__input" type="text" rows="3" id="text7" ></textarea>
         <label class="mdl-textfield__label" for="text7">Description</label>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button">Cancel</button>
    </div>
  </form>
</dialog>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        <div class="mdl-textfield mdl-js-textfield search">
        <input class="mdl-textfield__input" type="text" id="search">
        <label class="mdl-textfield__label" for="search">Search</label>
      </div>
      </span>
      <div class="mdl-layout-spacer"></div>
      <!-- Right aligned menu below button -->
      <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">arrow_drop_down</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li disabled class="mdl-menu__item">Disabled Action</li>
        <li class="mdl-menu__item">Yet Another Action</li>
      </ul>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/326334/profile/profile-80_2.jpg" alt="user_image" class="user_img"/>
    </div>
  </header>
  <div class="mdl-layout__drawer sidenav">
    <span class="mdl-layout-title mdl-color--blue-500 mdl-color-text--blue-grey-50">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href=""><i class="material-icons">dashboard</i><span>DASHBOARD</span></a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">description</i><span>FORMS</span></a>
      <a class="mdl-navigation__link active" href=""><i class="material-icons">account_box</i><span>MY ACCOUNT</span></a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <h6 class="mdl-cell mdl-cell--12-col">
          MY ACCOUNT
          <ol class="breadcrumbs">
                  <li><a href="index.html">Dashboard</a></li>
                  <li><a href="#">Pages</a></li>
                  <li class="active">Breadcrumbs</li>
              </ol>
        </h6>
      </div>
      <div class="mdl-grid account_action">
        <div class="mdl-cell mdl-cell--4-col action action_person">
          <div class="inner">
            <i class="material-icons">person_add</i>
            <span class="title">ADD NEW USER</span>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col action action_group">
          <div class="inner">
            <i class="material-icons">group_add</i>
            <span class="title">ADD NEW GROUP</span>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col action">
          <div class="inner">
            <i class="material-icons">color_lens</i>
            <span class="title">CUSTOM</span>
          </div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col action account_manage">
        <h6 class="mdl-cell mdl-cell--12-col title">Manage Users
          <button id="manage-user-filter" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"> Active <i class="material-icons">arrow_drop_down</i>
          </button>          
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="manage-user-filter">
            <li class="mdl-menu__item">Fast</li>
            <li class="mdl-menu__item">Medium</li>
            <li class="mdl-menu__item">Slow</li>
          </ul>
        </h6>
        
        <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">NAME</th>
              <th class="mdl-data-table__cell--non-numeric">EMAIL</th>
              <th class="mdl-data-table__cell--non-numeric">PLAN</th>
              <th class="mdl-data-table__cell--non-numeric">NEXT BILL</th>
              <th class="mdl-data-table__cell--non-numeric">ROLE</th>
              <th class="mdl-data-table__cell--non-numeric">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric name">Mari, Jeferson</td>
              <td class="mdl-data-table__cell--non-numeric">slash.jeferson@gmail.com</td>
              <td class="mdl-data-table__cell--non-numeric">30 day trial</td>
              <td class="mdl-data-table__cell--non-numeric">12/03/16</td>
              <td class="mdl-data-table__cell--non-numeric">Company Admin</td>
              <td class="mdl-data-table__cell--non-numeric">Disabled</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col action group_manage">
          <h6 class="mdl-cell">Groups</h6>
          <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">GROUP NAME</th>
                <th class="mdl-data-table__cell--non-numeric">DESCRIPTION</th>
                <th class="mdl-data-table__cell--non-numeric">USERS</th>
                <th class="mdl-data-table__cell--non-numeric">FORMS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="mdl-data-table__cell--non-numeric name">Mari, Jeferson</td>
                <td class="mdl-data-table__cell--non-numeric">slash.jeferson@gmail.com</td>
                <td class="mdl-data-table__cell--non-numeric">30 day trial</td>
                <td class="mdl-data-table__cell--non-numeric">12/03/16</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
  <script src='https://storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
