{{define "content"}}
<style type="text/css">
.setwidth100 {
width: 100%;
}
</style>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col action group_manage setwidth100">
        <h6 class="mdl-cell">Web List</h6>
        <table id="myTable"  style="width:100%" class="display">
            <tfoot>
            <tr>
                <th style="visibility: false">Id</th>
                <th>Domain</th>
                <th>Base Cost</th>
                <th>Maintenance</th>
                <th>Service</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    user_id = {{.id}};
$('#myTable').DataTable( {
data: {{.weblist}},
destroy: true,
"scrollX": true,
columns:[{title:"Id", "visible":false},{title:"Domain"},{title:"Base Cost"},{title:"Maintenance"},{title:"Service"}],
initComplete: function () {
this.api().columns().every( function () {
var column = this;
var select = $('<select><option value=""></option></select>')
.appendTo( $(column.footer()).empty() )
.on( 'change', function () {
var val = $.fn.dataTable.util.escapeRegex(
$(this).val()
);
column
.search( val ? '^'+val+'$' : '', true, false )
.draw();
} );
column.data().unique().sort().each( function ( d, j ) {
select.append( '<option value="'+d+'">'+d+'</option>' )
} );
} );
}
} );
var table = $('#myTable').DataTable();
$('#myTable tbody').on('click', 'tr', function () {
var data = table.row( this ).data();
window.location = "/web/detail?web="+data[0]+"&user="+user_id;
} );
} );
</script>
{{end}}