{{ define "layout"}}
<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>HTML Resources</title>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		
		<link rel="stylesheet" href="{{.BaseURL}}/assets/css/all.css">
		
	</head>
	<body>

		<h1>WELLCODE.io</h1>
		<nav class="nav">
			<ul class=list>
				<li>
					<a href="#">PARENT</a>
					<ul>
						<li>
							<a href="{{.BaseURL}}about/1">About</a>
						</li>
						<li>
							<a href="{{.BaseURL}}form/1">Form</a>
						</li>
						<li>
							<a href="{{.BaseURL}}footer/1">Footer</a>
						</li>
						<li>
							<a href="{{.BaseURL}}login">Login</a>
						</li>
						<li>
							<a href="{{.BaseURL}}register">Register</a>
						</li>
						<li>
							<a href="{{.BaseURL}}dashboard">Dashboard</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Image Slider</a>
						</li>
						<li>
							<a href="#">Landing Page</a>
							<ul>
								<li>
									<a href="#">404</a>
								</li>
								<li>
									<a href="#">Success</a>
								</li>
							</ul>
						</li>
						<li>
							<a >Navigation Bar</a>
							<ul>
								<li>
									<a href="{{.BaseURL}}/navbar/left/1">Left</a>
								</li>
								<li>
									<a href="{{.BaseURL}}/navbar/top/1">Top</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Part</a>
							<ul>
								<li>
									<a href="#">Alert</a>
									<ul>
										<li>
											<a href="#">Danger</a>
										</li>
										<li>
											<a href="#">Info</a>
										</li>
										<li>
											<a href="#">Success</a>
										</li>
										<li>
											<a href="#">Warning</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Button</a>
									<ul>
										<li>
											<a href="#">Delete</a>
										</li>
										<li>
											<a href="#">Info</a>
										</li>
										<li>
											<a href="#">Submit</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Dropdown</a>
								</li>
								<li>
									<a href="#">Input</a>
								</li>
								<li>
									<a href="#">List</a>
									<ul>
										<li>
											<a href="-/.html">Expand</a>
										</li>
										<li>
											<a href="-/.html">Static</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Search</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Sign</a>
							<ul>
								<li>
									<a href="-/navbar-left.html">In</a>
								</li>
								<li>
									<a href="-/navbar-top.html">Out</a>
								</li>
								<li>
									<a href="-/navbar-top.html">Up</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</body>
</html>
{{end}}