{{define "layout"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wellcode Global">
    <meta name="description" content="Website for Personal Web Design owned by Wellcode Global">
    <meta name="keywords" content="website, website builder, low cost website, lowcost website, personal web design, design, personal web, wellcode, wellcodeglobal, wellcode global, html, css, scss, javascript, js">
    <!-- <meta name="robots" content="index, follow"> -->
    <meta name="copyright" content="Wellcode Global 2018">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <!-- <meta name="google-site-verification" content="CpVhxvqnJR6-GIBm9ApJMlbPi19U43042P33pRrErSs"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{.BaseURL}}assets/css/list.css">
     <link rel="stylesheet" href="{{.BaseURL}}assets/css/preview.css">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{.BaseURL}}assets/js/fontawesome-all.js"></script>
  </head>
  <body>
    <header class="header-wrapper shadow">
      <div class="header-hamburger">
        <div class="centered-row-items">
          <div class="d-flex">
            <div class="col-1">
              <div class="d-flex justify-content-start">
                <div class="hm-icon">
                  <a id="open" href="#" onclick="openSidebar()">
                    <i class="fa fa-bars color-black"></i>
                  </a>
                  <a class="hidden" id="close" href="#" onclick="closeSidebar()">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>
              <div class="hm-menu" id="hm-menu">
                <nav>
                  <ul>
                    {{ range $i := .list }}
                    <a href="{{$.BaseURL}}{{$.url}}/{{$i}}">
                      <li>{{$i}}</li>
                    </a>
                    {{ end }}
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-11">
              <div class="h-preview">
                <ul class="d-flex">
                  <li class="hp-li uppercase selected">preview</li>
                  <li class="hp-li uppercase">html</li>
                  <li class="hp-li uppercase">css</li>
                  <li class="hp-li uppercase">js</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- <header class="a" style="height: 20px;"></header> -->
    <main>
      <section id="section-preview" class="section-preview">
        {{.html_str}}
      </section>
      <section class="fullscreen" id="section-html" style="display: none;">
        <textarea class="list-textarea" contentEditable="false">{{.html_str}}</textarea>
      </section>
      <section class="fullscreen" id="section-css" style="display: none;">
        <textarea class="list-textarea" contentEditable="false">{{.css_str}}</textarea>
      </section>
      <section class="fullscreen" id="section-js" style="display: none;">
        <textarea class="list-textarea" contentEditable="false">{{.js_str}}</textarea>
      </section>
    </main>
  </body>
  <script type="text/javascript" src="{{.BaseURL}}assets/js/list.js"></script>
  <script type="text/javascript" src="{{.BaseURL}}assets/js/preview.js"></script>
</html>
{{end}}