{{define "navbar"}}
<div class="d-sidebar shadow-outset-sm" id="a">
	<div class="accordionWrapper w-100">
		<div class="accordionItem open">
			<p class="accordionItemHeading">Account</p>
			<div class="accordionItemContent">
				<ul>
					<a href="">
						<li>Edit Profile</li>
					</a>
				</ul>
			</div>
			<div class="accordionItem close">
				<p class="accordionItemHeading">Manage</p>
				<div class="accordionItemContent">
					<ul>
						<a href="">
							<li>User</li>
						</a>
						<a href="">
							<li>HTML Part</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}