{{define "navbar"}}
<div class="mdl-layout__drawer sidenav">
	<span class="mdl-layout-title mdl-color--blue-500 mdl-color-text--blue-grey-50">Lowcost Website</span>
	<nav class="mdl-navigation">
		<a class="mdl-navigation__link active" href="/home"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
		<a class="mdl-navigation__link" href="/user/list"><i class="material-icons">description</i><span>Manage User</span></a>
		<a class="mdl-navigation__link" href="/htmlpart"><i class="material-icons">description</i><span>Manage Part</span></a>
		<a class="mdl-navigation__link" href="/account"><i class="material-icons">account_box</i><span>My Account</span></a>
	</nav>
</div>
{{end}}