@charset "UTF-8";
header .mdl-layout__drawer {
  border-right: 0;
}
header .mdl-layout__drawer .mdl-layout-title {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
header .search input {
  border-bottom: 0;
}
header .search label {
  color: rgba(255, 255, 255, 0.6);
}
header .user_img {
  border-radius: 24px;
  width: 40px;
}

.sidenav {
  background-color: #fff;
  border-right: 0;
}
.sidenav .mdl-layout-title {
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
}
.sidenav .mdl-navigation__link.active {
  color: #2196F3;
}
.sidenav .mdl-navigation__link span {
  padding-left: 16px;
}

.mdl-layout__content {
  background-color: #e0e0e0;
}

.account_action .action {
  cursor: pointer;
}
.account_action .inner {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #fff;
}
.account_action .inner .material-icons {
  padding: 5px 10px 0px 0px;
  font-size: 40px;
  color: #2196F3;
  border-right: 1px solid rgba(117, 117, 117, 0.53);
}
.account_action .inner span {
  display: inline-block;
  vertical-align: top;
  padding: 14px 10px;
  font-size: 14px;
  color: #757575;
}

.account_manage,
.group_manage {
  color: #757575;
  overflow-x: auto;
  background-color: #fff;
}
.account_manage table td,
.group_manage table td {
  color: #000;
}
.account_manage table td.name,
.group_manage table td.name {
  color: #2196F3;
}

.account_manage .title {
  padding-bottom: 10px;
}
.account_manage #manage-user-filter {
  float: right;
  text-transform: capitalize;
  background-color: #fff;
  color: #757575;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.14), 0 0 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#action_person_dialog,
#action_group_dialog {
  width: 600px;
}
#action_person_dialog .mdl-dialog__title,
#action_group_dialog .mdl-dialog__title {
  color: #757575;
}
#action_person_dialog .mdl-textfield,
#action_group_dialog .mdl-textfield {
  width: 100%;
}

.breadcrumbs {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs > li {
  display: inline-block;
}

.breadcrumbs > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/ ";
}

.breadcrumbs .active {
  font-weight: normal;
  color: #999;
}
